.tab-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
  position: relative;
}

.tab-item:hover {
  background-color: rgb(241 245 249);
}

.dark-mode .tab-item:hover {
  background-color: rgb(31 41 55);
}

.tab-item.bg-tab-hover {
  background-color: rgb(219 234 254);
}

.dark-mode .tab-item.bg-tab-hover {
  background-color: rgb(30 58 138);
}

.tab-item.dragging {
  opacity: 0.5;
}

.tab-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.tab-title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
